.achievement__item {
    display: flex;
    background-color: #2d3550;
    width: 420px;
    height: 140px;
    border-radius: 15px;
    margin: 0 7px 15px 7px;
}

.item__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 5;
}

.item__title {
    display: flex;
    flex: 5;
    align-items: flex-start;
    justify-content: center;
}

.item__title h2 {
    font-size: 45px;
    font-weight: 800;
    color: #ffbf36;
    margin-bottom: 7px;
}

.item__title p {
    width: 60%;
    font-size: 17px;
    font-weight: 700;
    color: white;
    flex-wrap: wrap;
}

@media screen and (max-width: 1910px) {
    .achievement__item {
        width: 47%;
    }
}

@media screen and (max-width: 940px) {
    .achievement__item {
        width: 100%;
    }
}

