.app__about {
    display: flex;
    flex-direction: column;
    position: relative;
    /* top: 20px; */
}

@media screen and (min-width: 1281px) {
    .app__about {
        padding-left: 90px;
    }
}
