.comm__highlight {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.highlight__nav {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.3rem 0 1rem 0;
}

.highlight__nav-title {
    font-size: 20px;
    font-weight: 600;
    color: rgb(214, 214, 214);
}

.highlight__news {
    display: flex;
    justify-content: space-between;
}