.alyx__partners{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner__title{
    font-size: 1.1rem;
    font-family: var(--font-base);
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.alyx__main-partners,
.alyx__sub-partners{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.alyx__main-partners img,
.alyx__sub-partners img{
    margin: 0 25px;
}

@media screen and (min-width: 2000px) {

}

@media screen and (max-width: 1280px) {
    
}

@media screen and (max-width: 650px) {
    .alyx__main-partners,
    .alyx__sub-partners{
        flex-direction: column;
    }
}