.comm__articles {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.articles__nav {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.3rem 0 1rem 0;
}

.articles__nav-title {
    font-size: 20px;
    font-weight: 600;
    color: rgb(214, 214, 214);
}

.cate__btn {
    outline: none;
    color: white;
    background-color: rgba(210, 210, 210, 0.1);
    padding: 0.4rem 0.8rem;
    margin-right: 12px;
    border: none;
    border-radius: 30px;
}

.articles__nav-readmore {
    display: flex;
}

.articles__news {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 850px) {
    .articles__nav-cate {
        display: none;
    }

    .articles__news {
        flex-wrap: wrap;
    }

    .articles__nav {
        width: 100%;
    }
}
