.app_header{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.app__header-info{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.app__header-img{
    position: absolute;
    width: 100%;
    top: 70px;
    bottom: 0;
}

.app__header-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.app__header-text{
    margin-left: 10%;
    width: 27rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: var(--font-base);
}

.app__header-title{
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.1rem;
}

.app__header-dec h1{
    margin-bottom: 1.2rem;
    font-size: 3.3rem;
}

.app__header-dec p{
    font-weight: 400;
    font-size: 1.1rem;
    width: 23rem;
    line-height: 1.6rem;
}

@media screen and (min-width: 2000px) {

}

@media screen and (max-width: 1280px) {
    .app__header-text{
        margin-left: 5%;
        margin-bottom: -15%;
    
    }
 
    .app__header-img img{
        height: 100%;
    }

    .app__header-title
    {
        font-size: 1rem;
    }
    .app__header-dec h1
    {
        font-size: 3rem;
    }
    .app__header-dec p
    {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 680px) {

    .app__header-text{
        margin-left: 10px;
        margin-bottom: -60%;
        /* font-size: 0.5rem; */
    }

    .app__header-title
    {
        font-size: 0.8rem;
    }
    .app__header-dec h1
    {
        font-size: 1.5rem;
    }
    .app__header-dec p
    {
        font-size: 0.8rem;
        max-width: 320px;
    }
}