.app_header{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.app__header-info{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.app__header-img{
    position: absolute;
    top: 70px;
    bottom: 0;
}

.app__header-img img {
    height: 500px;
    object-fit: cover;
}

.app__header-text{
    position: absolute;
    top: 10rem;
    left: 15.625rem;
    width: 27rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: var(--font-base);
}

.app__header-title{
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.1rem;
}

.app__header-dec h1{
    margin-bottom: 1.2rem;
    font-size: 3.3rem;
}

.app__header-dec p{
    font-weight: 400;
    font-size: 1.1rem;
    width: 23rem;
    line-height: 1.6rem;
}
