.text__category {
    color: var(--color-main);
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.text__title {
    color: white;
    font-size: 38px;
}


.app__lookback {
    background-image: linear-gradient(rgb(175 68 21), black);
    font-family: var(--font-base);
}

.achievement__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.best__image img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.app__lookback-coming {
    display: flex;
}

.coming__title {
    display: flex;
    flex: 5;
    flex-direction: column;
}

.coming__title-text {
    color: white;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 1.7rem 0;
}

.coming__title-button button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 40px;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.coming__title-button button:hover {
    border: 2px solid var(--color-main);
    background-color: var(--color-main);
}

.coming__img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 5;
}

.coming__img img:first-child {
    display: flex;
    width: 49%;
    z-index: 6;
}

.coming__img img:last-child {
    position: absolute;
    width: 30%;
    z-index: 5;
}


@media screen and (min-width: 1280px) {
    .best__image {
        margin-top: 40px;
    }

}

@media screen and (max-width: 680px) {
    .coming__img {
        display: none;
    }
}