.page__relative{
    position: relative;
    background-color: #1b2026;
}

.page__main{
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.market__search-container{
    max-width: 800px;
    margin: 20px auto 10px;
}

.market__search-field{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid hsla(0,0%,100%,.10196);
    border-radius: 5px;
    background-color: hsla(0,0%,100%,.05098);
    transition: all .3s ease;
}

.market__search-field .search__btn{
    width: 25px;
    height: 35px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    display: inherit;
}

.market__search-field .search__input{
    height: 100%;
    width: calc(100% - 80px);
    font-size: 25px;
    color: #a0a4a7;
    border: none;
    outline: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 0;
    padding-top: 2px;
    padding-bottom: 4px;
    background-color: transparent;
}

/* Header market */
.market__header{
    text-align: center;
}

.market__header h1.market__header-tittle{
    font-family: var(--font-base);
    font-size: 2rem;
    color: #fff;
    margin: 50px 0 20px;
}

.market__header-sub__tittle{
    font-family: var(--font-base);
    font-size: 1.3rem;
    color: #bdc0c2;
}

@media screen and (min-width: 2000px) {

}

@media screen and (max-width: 1280px) {
    .market__search-field{
        height: 40px;
        background-color: #3b4148;
        max-width: 400px;
        margin: 3px auto 14px;
    }

    .market__header h1.market__header-tittle{
        margin-top: 35px;
    }

    .market__header-sub__tittle{
        font-size: 1.1rem;
        padding: 0 20px;
    }
}

@media screen and (max-width: 650px) {
    .market__header h1.market__header-tittle{
        font-size: 25px;
        line-height: 26px;
    }

    .market__header-sub__tittle{
        font-size: 0.9rem;
        padding: 0 20px;
    }
}