.common__item {
    background: linear-gradient(180deg, rgb(174, 184, 177) 0, rgb(82, 82, 82))!important;
}

.rare__item {
    background: linear-gradient(180deg, rgb(174, 184, 177) -10%, rgb(45, 179, 27))!important;
}

.elite__item {
    background: linear-gradient(180deg, rgb(174, 184, 177) -10%, rgb(245, 112, 3))!important;
}

.legend__item {
    background: linear-gradient(180deg, rgb(174, 184, 177) -10%, rgb(247, 11, 11))!important;
}

.maker__products {
    max-width: 1070px;
    min-height: 50vh;
    margin: 70px auto 0;
}

.maker__products-fit {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: stretch;
}

.maker__products .filter__options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.sort__by-filter {
    align-items: flex-start;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    right: 0;
    bottom: unset;
    left: unset;
    z-index: 2;
}

.sort__by-filter .sort__by-tittle {
    height: 40px;
    width: -webkit-max-content;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sort__by-filter .sort__by-tittle p {
    margin-right: 10px;
    margin-top: -10px;
    font-size: 0.9rem;
    line-height: 16px;
    font-family: var(--font-base);
    color: #a0a4a7;
    text-align: center;
}

.sort__by-filter .sort__by-down {
    width: 230px;
    align-items: center;
    cursor: pointer;
}

.list__drop-btn {
    max-width: 200px;
    height: 35px;
    border-radius: 5px;
    background-color: #2f3740;
    color: #fff;
    padding: 0 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-family: var(--font-base);
    font-weight: 600;
}

.list__drop-btn .square__list-items {
    height: 40px;
    border-radius: 10px;
}

.list__drop {
    width: 200px;
    height: auto;
    padding: 0;
    background-color: #2f3740;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    margin-top: 1px;
    position: relative;
    z-index: 10;
    transition-property: all;
    transition-duration: .25s;
    transition-timing-function: ease;
}

.sort__by-down:hover .list__drop li {
    display: block;
}

.list__drop ul {
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
}

.list__drop ul li {
    padding: 10px 14px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    font-family: var(--font-base);
    cursor: pointer;
    transition-property: all;
    transition-duration: .25s;
    transition-timing-function: ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: none;
}


/* shop items */

.products__filter {
    padding-bottom: 30px!important;
    padding-top: 15px!important;
}

.marker__products-container .products__tittle {
    font-size: 21px;
    margin-bottom: 15px!important;
    margin-top: 20px!important;
    color: #fff;
    font-family: var(--font-base);
}

hr.horizontal__light {
    background-color: #505861;
    width: 100%;
    height: 1px;
}

.count__products {
    margin-top: 10px!important;
}

.products__filter p {
    font-size: 15px;
    line-height: 20px;
    color: #bdc0c2;
    font-family: var(--font-base);
}


/*items*/

.mt__wrapper {
    margin-top: 20px!important;
}

.marker__products-container .products__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 236px);
    grid-gap: 34px;
    gap: 34px;
    justify-content: center;
}

.products__card {
    position: relative;
    width: 100%;
    height: 319px;
    border-radius: 10px;
    background: linear-gradient(180deg, var(--color-main) 0, #ef4c00);
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    text-decoration: none;
}

.products__card .products__card-hover.rare {
    background: linear-gradient(180deg, #00adef 0, #0084ff);
}

.products__card .products__card-hover {
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    border-radius: 12px;
    background: transparent;
    transition: all .1s ease-in-out;
}

.products__card .card__top {
    overflow: hidden;
    flex: 1 1 0;
}

.products__card .card__top figure {
    flex: 1 1 0;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.products__card .card__top figure .card__preview {
    height: 200px;
    width: 163px;
    object-fit: contain;
    /* filter: brightness(1.5); */
    z-index: 1;
}

.products__card .card__bottom {
    padding: 15px 10px 10px;
}

.card__bottom-tittle {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.products__card .card__bottom .card__name {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 22px;
    font-family: var(--font-base);
    color: #fff;
    text-align: left;
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* margin-top: -110px; */
}

.products__card .card__bottom-data {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.products__card .card__bottom-data .supply__count {
    font-size: 14px;
    line-height: 18px;
    font-family: var(--font-base);
    color: #fff;
    text-align: center;
}

.products__card .card__bottom-data .supply__count-text {
    color: #bdc0c2;
    font-family: var(--font-base);
    font-weight: 400!important;
}

.mt-2 {
    margin-top: 10px!important;
}

.products__card .card__bottom-data .card__price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card__price-igr {
    grid-gap: 10px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.products__card .card__bottom-data .card__price img {
    width: 22px;
    height: 22px;
}

.products__card .card__bottom-data .card__price .price__number {
    font-size: 18px;
    line-height: 22px;
    font-family: var(--font-base);
    color: #ffbf36;
    text-align: left;
}

.price__number-money {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-items: center;
}

.products__card .card__bottom-data .card__price .price__number-usd {
    font-size: 14px;
    line-height: 22px;
    font-family: var(--font-base);
    color: #000;
    text-align: left;
}

.products__card .card__bottom-data .card__price .price__usd {
    margin-left: 5px;
    font-size: 14px;
    line-height: 22px;
    font-family: var(--font-base);
    color: #000;
    text-align: left;
}

.add__cart-img {
    position: absolute;
    top: unset;
    right: 15px;
    bottom: 15px;
    left: unset;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #2f3740;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.add__cart-img .add__cart-icon {
    width: 40px;
    height: 40px;
    background-color: #a0a4a7;
    -webkit-mask: url(https://www.sandbox.game/img/16_Presale/shopping-cart.svg) no-repeat center;
}

@media screen and (min-width: 2000px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 650px) {}