.comm__navbar {
    height: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.comm__title {
    display: flex;
    flex: 1;
    font-size: 33px;
    font-weight: 800;
}

.comm__search {
    background-color: rgba(210, 210, 210, 0.1);
    padding: 0.7rem 1.3rem;
    border-radius: 5px;
    width: 30%;
    border: 1px solid var(--color-lightgray);
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.comm__search svg {
    margin-right: 17px;
}

.comm__search input {
    background: transparent;
    border: none;
}

.comm__search input:focus {
    outline: none;
    color: white;
}

.comm__social-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.comm__social-link svg {
    font-size: 21px;
    margin: 0 0.5rem;
    cursor: pointer;
}

@media screen and (max-width: 1113px) {
    .comm__navbar {
        flex-direction: column;
        margin-bottom: 150px;
    }
    
    .comm__title {
        margin: 2rem 0;
    }

    .comm__search {
        width: 60%;
        padding: 1rem 1.7rem;
        margin-right: 0;
    }

    .comm__social-link {
        margin-top: 25px;
        width: 200px;
        justify-content: space-between;
    }


}

@media screen and (max-width: 650px) {
    .comm__title {
        font-size: 25px;
    }

    .comm__search {
        width: 85%;
    }

}