.app__sidebar {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 90px;
    height: 100%;
    position: fixed;
    background-color: var(--color-gray);
    font-family: var(--font-base);
    font-weight: 800;
    font-size: 14px;
    margin-top: 70px;
    color: #6c6e71;
    z-index: 500;
}

.app__sidebar-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0.5rem;
    padding-top: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.app__sidebar-menu li:hover {
    background-color: #373f4a;
}

.menu__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-bottom: 0.3rem;
}

.menu__icon-home {
    background-image: linear-gradient(to right bottom, rgb(253, 105, 105), red);
}
.menu__icon-game {
    background-image: linear-gradient(to right bottom, rgb(82, 248, 165), rgb(0, 153, 0));
}
.menu__icon-market {
    background-image: linear-gradient(to right bottom, rgb(105, 152, 253), rgb(0, 47, 255));
}
.menu__icon-about {
    background-image: linear-gradient(to right bottom, rgb(253, 226, 105), rgb(196, 150, 0));
}

.app__sidebar-menu li img {
    width: 15px;
}

.app__sidebar-menu li svg {
    font-size: 25px;
    color: white;
}

/* Market sidebar */
.sidebar__actions{
    min-width: 240px;
    height: 100%;
    padding-bottom: 60px;
    overflow: auto;
    background-color: #1d232a;
    height: calc(100vh - 60px);
    box-shadow: inset -4px 0 8px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
}

.market__sidebar{
    transition: all .1s ease;
    width: 240px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
    z-index: 1000;
}

.market__sidebar h2{
    padding-left: 21px;
    margin: 16px 0;
    font-size: 28px;
    line-height: 23px;
    font-family: "Montserrat Bold";
    color: #fff;
    text-align: left;
}

.market__sidebar h2.shope__tittle{
    color: #a0a4a7;
    font-family: var(--font-base);
}

.market__sidebar .market__sidebar-separator{
    border: 0;
    height: 2px;
    width: 100%;
    margin: 0 auto;
    background: #14181d;
}

.for__sale{
    margin: 10px 20px;
}

.for__sale-switch{
    width: 100%;
    color: #fff;
}

.for__sale-switch input {
    position: absolute;
    left: -9999px;
}

/* Res */
@media screen and (max-width: 1280px) {
    .app__sidebar {
        position: fixed;
        height: 100%;
        z-index: 600;
        left: -90px;
        transition: all 0.5s ease;
    }

    .app__sidebar.active {
        left: 0;
    }
}