.app__header {
    display: flex;
    height: 570px;
    font-family: var(--font-base);
}

.app__header-info {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-image: url('../../assets/header_img.jpg');
    background-repeat:round;
    background-size: 100% 600px; */

}

.app__header-image img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 570px;
    object-fit: cover;
    z-index: 1;
}

.info__overlay {
    display: flex;
    flex-direction: column;
    background: rgba(20, 24, 29, 0.7);
    color: white;
    width: 500px;
    z-index: 10;
    border-radius: 7%;
    margin-top: 4rem;
    margin-left: 20%;
}

.info__overlay-highlight {
    display: flex;
    width: 100%;
    font-size: 14px;
    font-weight: 800;
    padding: 0.7rem 0;
    margin-top: 7%;
    background-image: linear-gradient(to left, rgb(255, 187, 0) 40%, rgb(253, 220, 29) 100%, rgb(255, 187, 0) 40%);
}

.info__overlay-highlight p {
    margin-left: 30px;
    font-size: 19px;
}

.info__overlay-nor {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    padding: 1rem 2rem 1.7rem 2rem;
}

.info__overlay-nor img {
    width: 250px;
    align-self: center;
    margin-bottom: 0.5rem;
}

.info__overlay-nor p {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.info__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.info__button button {
    width: 200px;
    padding: 0.4rem 0;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

.info__button-claim {
    background-color: #0084ff;
    color: white;
    font-weight: 800;
    border: none;
}

.info__button-claim:hover {
    background-color: #0069cc;
}

.info__button-buy {
    background-color: transparent;
    color: #0084ff;
    font-weight: 800;
    border: 1px solid #0084ff;
}

.info__button-buy:hover {
    color: white;
    background-color: #0069cc;
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 2000px) {
    .info__overlay {
        margin-left: 25%;
    }
}

@media screen and (max-width: 1280px) {
    .info__overlay {
        margin-left: 7%;
    }
    
}

@media screen and (max-width: 650px) {
    .info__overlay {
        margin-left: 0;
        width: 100%;
    }

    .info__button {
        display: flex;
        flex-direction: column;
    }

    .info__button-claim {
        margin-bottom: 20px;
    }
}