.product__details {
    color: #ffffff;
    width: 60%;
    margin-left: 30px;
    margin-top: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.product__details h2{
    padding-bottom: 20px;
}

.product__title div {
    padding-bottom: 10px;
}

.product__token__id {
    display: flex;
    justify-content: flex-start;
}

.token__id {
    color: #a1a1a1;
    font-size: 13px;
}

.copy__icon {
    width: 6%;
    height: auto;
    padding-left: 10px;
    cursor: pointer;
    vertical-align: middle;
}

.product__cond {
    color: #a1a1a1;
    display: flex;
}

.product__cond p{
    padding-left: 10px;
    padding-right: 10px;
}

.info__icon {
    padding-left: 10px;
}

.vertical__line {
    width: 1px;
    height: inherit;
    background-color: #a1a1a1;
}

.product__about {
    padding-top: 50px;
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.card {
    display: flex;
    overflow: clip;
    border: solid;
    padding: 20px 25px;
    border-color: #2f3740;
    border-radius: 10px;
    border-width: 1px;
    width: 100%;
    background-color: #20252c;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.info__container {
    margin-right: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.info__container h5{
    padding-bottom: 20px;
    color: #a1a1a1;
}

.info__container h4 {
    padding-top: 25px;
}

.stats__view {
    display: flex;
    flex-direction: row;
}

.pokeball {
    width: 30px;
    height: 30px;
}

.type__container p {
    padding-left: 5px;
}

.info__container p{
    padding-top: 5px;
}

.type__container {
    display: flex;
    flex-direction: row;
}

.tag__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.tag__list div {
    display: flex;
    padding-right: 15px;
}

.tag__list p {
    line-height: 15px;
    border: solid;
    border-color: #2f3740;
    border-radius: 10px;
    padding: 5px 15px;
    border-width: 1px;
    width: auto;
    background-color: #343a42;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.product__attribute {
    width: 100%;
    padding-top: 50px;
}

.card__attribute {
    display: flex;
    overflow: clip;
    border: solid;
    padding: 0px 25px;
    border-color: #2f3740;
    border-radius: 10px;
    border-width: 1px;
    width: 100%;
    background-color: #20252c;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.luxury__ball {
    width: 50px;
    height: 50px;
    display: flex;
    margin: auto 0px;
}

.luxury__ball img {
    width: 100%;
    height: 100%;
}

.rarity__box {
    padding: 25px 0px;
    padding-left: 10px;
    padding-right: 70px;
    height: 100%;
    margin: 0 45px;
    border-right: 1px solid #2f3740;
}

.rarity__box h5 {
    margin-top: 10px;
    color: var(--color-main);
    font-size: 20px;
}

.rarity__box p {
    color: #a1a1a1;
}

.attr__picture {
    margin-top: 5px;
    width: 40px;
    height: 40px;
}

.stat__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.stat__container h4 {
    padding: 10px;
    margin: auto;
}

.product__desc {
    padding-top: 50px;
}

.product__desc p {
    color: #a1a1a1;
    font-size: 15px;
}

.share__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.share__social img {
    cursor: pointer;
    margin-left: 15px;
    width: 35px;
}

.share {
    font-size: 16px;
    color: #a1a1a1;
    font-weight: bold;
}

.creator__card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: solid;
    width: 100%;
    border-color: #2f3740;
    border-radius: 10px;
    border-width: 1px;
    background-color: #20252c;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.creator__card h4 {
    font-size: 14px;
    line-height: 23px;
    color: #a4a7a9;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    opacity: .6;
}

.creator__container {
    padding: 30px;
    width: 20%;
}

.creator__container img {
    height: 60px;
    overflow: hidden;
    border-radius: 40px;
}

.user__profile {
    color: var(--color-main);
    font-weight: bold;
}

.user__profile:hover {
    color: #ff7300;
    transition: ease-in-out;
}

.nft__container {
    border-left: 1px solid #2f3740;
    width: 80%;
    padding: 43px;
}

.nft__container__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wrapper__grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
    grid-gap: 28px;
    gap: 28px;
}

.is__relative {
    position: relative;
}

.listed__card {
    width: 100%;
    min-height: 83px;
    margin: 0;
    border-radius: 10px;
    font-size: 12px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}

.hover__bg__legend {
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    border-radius: 12px;
    background: transparent;
    z-index: 1;
    transition: all .1s ease-in-out;
    background: #ffa836;
    background: linear-gradient(180deg,#ffa836 0,#fc5252);
}

.hover__bg__common {
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    border-radius: 12px;
    background: transparent;
    z-index: 1;
    transition: all .1s ease-in-out;
    background: #ffffff;
}

.hover__bg__rare {
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    border-radius: 12px;
    background: transparent;
    z-index: 1;
    transition: all .1s ease-in-out;
    background: var(--color-main);
}

.other__products {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    font-style: italic;
    vertical-align: middle;background-color: #1d232a;
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
    position: relative;
    width: 100%;
    min-height: 83px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}

.preview__small {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* filter: brightness(1.5); */
    padding: 5px;
    height: 80px;
    width: 80px;
}

.preview__small img {
    height: auto;
    max-height: 80px;
    max-width: 80px;
    vertical-align: middle;
    object-fit: contain;
}

.info__mini {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.info__data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.info__data h3 {
    font-size: 14px;
    color: #fff;
    max-width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info__data p {
    color: #a4a7a9;
}

.legendary {
    text-transform: capitalize;
    margin-bottom: 5px!important;
    color: #fe8636!important;
    font-weight: 400!important;
}

.holo {
    text-transform: capitalize;
    margin-bottom: 5px!important;
    color: var(--color-main)!important;
    font-weight: 400!important;
}

.common {
    text-transform: capitalize;
    margin-bottom: 5px!important;
    color: #ffffff!important;
    font-weight: 400!important;
}

.mythical {
    text-transform: capitalize;
    margin-bottom: 5px!important;
    color: #E2B903!important;
    font-weight: 400!important;
}

.create__asset__guide {
    padding-top: 50px;
}

.text__bullet {
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
}

.text__bullet img {
    padding-right: 10px;
}

.text {
    color: #a1a1a1;
    font-size: 15px;
}

.benefit__list {
    padding-top: 50px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card__info__left {
    width: 55%;
    margin-right: 20px;
    padding: 20px 25px;
    border: solid;
    border-color: #2f3740;
    border-radius: 10px;
    border-width: 1px;
    background-color: #20252c;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.card__info__left h2 {
    color: #E2B903;
}

.card__info__right {
    width: 45%;
    padding: 20px 25px;
    border: solid;
    border-color: #2f3740;
    border-radius: 10px;
    border-width: 1px;
    background-color: #20252c;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.card__info__right h2 {
    color: var(--color-main);
}


@media screen and (max-width: 1455px) {
    .product__details {
        margin: auto;
        min-width: auto;
        margin: 0px 30px;
        /* width: calc(100% - 60px); */
    }

    .luxury__ball img {
        width: auto;
        height: auto;
    }

    .tag__list {
        /* flex-direction: column; */
        overflow: auto;
    }

    .tag__list div{
        padding: 5px 0px;
    }

    .creator__card {
        width: 100%
    }

    .creator__container {
        width: 30%;
    }

    .nft__container {
        width: 70%;
        padding: 45px;
    }

    .wrapper__grid {
        grid-template-columns: 400px;
    }
}

@media screen and (max-width: 1305px) {

    .product__details {
        padding-top: 50px;
        width: calc(100% - 60px);
        margin: auto;
        flex-direction: column;
        position: relative;
    }
    
}

@media (max-width: 767px) {

    .product__details {
        padding-top: 10px;
        flex-direction: column;
        align-items: flex-start;
        order: 1;
        width: 80%;
        margin: auto;
        padding: 0;
    }

    .card {
        flex-direction: column;
    }

    .creator__card {
        flex-direction: column;
    }

    .card__attribute {
        align-items: center;
        padding: 20px 0;
    }

    .luxury__ball {
        padding: 0;
        margin: 0;
    }

    .luxury__ball img {
        width: 0%;
        height: 0%;
    }
    
    .wrapper__grid {
        grid-template-columns: 88%;
    }

    .nft__container {
        width: 100%;
        padding: 0;
    }

    .stats__view {
        flex-direction: column;
    }

    .benefit__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .card__info__left, .card__info__right {
        width: 100%;
        margin-bottom: 20px;
    }
}