.text__category {
    color: var(--color-main);
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.text__title {
    color: white;
    font-size: 38px;
}


.app__news {
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    font-family: var(--font-base);
    padding-bottom: 70px;
}

.app__news-community_title {
    display: flex;
    justify-content: space-between;
}

.community__explore {
    display: flex;
    align-items: flex-end;
    color: var(--color-main);
    font-weight: 700;
    cursor: pointer;
}

.community__explore-link {
    display: flex;
    align-items: center;
}

.community__news {
    display: flex;
    justify-content: space-between;
}

.app__news-survey {
    display: flex;
    align-items: center;
}

.survey__info {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.survey__info-text {
    margin: 1.7rem 0;
}

.news__text {
    color: white;
    font-weight: 500;
    line-height: 1.5rem;
    
}

.survey__btn button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 40px;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.survey__btn button:hover {
    border: 2px solid var(--color-main);
    background-color: var(--color-main);
}

.survey__img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 5;
}

.survey__img-overlay {
    position: absolute;
    z-index: 9;
}

.survey__img-image {
    z-index: 10;
    margin-left: 50%;
    margin-top: 40%;
}

.survey__img-overlay {
    margin-left: 250px;
}

.survey__img-overlay img {
    width: 69%;
}

.survey__img-image img {
    width: 100%;
}

.app__news-season {
    display: flex;
    align-items: center;
}

.season__img {
    display: flex;
    flex: 5;
    flex-direction: column;
    align-items: flex-start;
}

.season__img img:first-child {
    width: 80%;
}

.season__img img:last-child {
    width: 100%;
}

.season__info {
    display: flex;
    flex: 5;
    flex-direction: column;
    margin-left: 30px;
}

.season__info-text {
    margin: 1rem 0;
}

@media screen and (min-width: 2000px) {
    .text__category {
        font-size: 30px;
    }

    .text__title {
        font-size: 50px;
    }

    .news__text {
        font-size: 25px;
        line-height: 2rem;
    }
}

@media screen and (min-width: 1280px) {
    
}

@media screen and (max-width: 680px) {
    .community__news {
        flex-direction: column;
    }

    .survey__img {
        display: none;
    }

    .season__img {
        display: none;
    }

    .season__info {
        margin-left: 0;
    }

}

@media screen and (max-width: 550px) {
    
}