.app__contact {
    display: flex;
    flex-direction: column;
    font-family: var(--font-base);
    background-color: black;
}

.app__contact-join {
    position: relative;
    color: white;
}

.join__image {
    height: 250px;
}

.join__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.join__desc {
    position: absolute;
    width: 35%;
    top: 25%;
    right: 8%;
}

.join__desc h1 {
    font-size: 25px;
}

.join__desc p {
    font-size: 15px;
    padding: 0.8rem 0;
    color: white;
}

.join__btn button {
    border: none;
    border-radius: 19px;
    background-image: linear-gradient(to bottom, rgb(127, 92, 255), blueviolet);
    color: white;
    padding: 0.5rem 3.5rem;
    font-size: 17px;
    font-weight: 900;
    transition: all 0.5s ease;
    cursor: pointer;
}

.join__btn button:hover {
    border: 3px solid rgb(127, 92, 255);
    padding: 0.4rem 3.4rem;
    background-image: none;
    background-color: transparent;
    color: rgb(127, 92, 255);
}

.app__contact-info {
    background-color: #1d232a;
    height: 350px;
    color: white;
    font-size: 120px;
    font-weight: 800;
    display: flex;
}

.info__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 5;
}

.info__logo img {
    width: 250px;
    cursor: pointer;
}

.contact__info {
    display: flex;
    flex: 5;
}

.info__pages {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.info__list {
    font-size: 17px;
    font-weight: 500;
    color: var(--color-lightgray);
    list-style: none;
}

.info__list li {
    margin: 0.7rem 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.info__list li:hover {
    color: white;
}

.info__social {
    display: flex;
    flex: 6;
    flex-direction: column;
}

.info__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}

.item__list {
    margin: 0.3rem 0.3rem;
}

.item__list img {
    display: flex;
    width: 45px;
}

.info__title {
    font-size: 24px!important;
    font-weight: 800;
    padding-top: 4.5rem;
    margin-bottom: 15px;
}

.app__contact-copyright {
    background-color: var(--color-black);
    color: rgba(255, 255, 255, 0.747);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1281px) {
    .app__contact {
        padding-left: 90px;
    }

}

@media screen and (max-width: 1100px){ 
    .contact__info{
        margin-top: 50px;
    }
}

@media screen and (max-width: 990px) {
    .app__contact-info {
        flex-direction: column;
        align-items: center;
        height: 800px;
        padding: 50px 0 100px 0;
    }

    .info__logo img{
        width: 170px;
    }

    .contact__info {
        flex-direction: column;
        margin-top: 0px;
    }

    .info__pages {
        align-items: center;
        margin-top: 80px;
    }

    .info__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info__social {
        align-items: center;
        margin-top: 80px;
    }

    .info__item {
        justify-content: center;
    }

    .item__list {
        margin: 0.5rem 0.5rem;
    }
    
    .app__contact-copyright {
        text-align: center;
    }
}

@media screen and (max-width: 870px) {
    .join__desc {
        top: 5%;
    }

    .join__btn button {
        white-space: nowrap;
    }
}

@media screen and (max-width: 500px) {
    .join__desc {
        top: 10%;
        width: 65%;
    }
}

@media screen and (max-width: 370px) {
    .app__contact-info {
        height: 1000px;
    }
}

