.app__community {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    background-color: var(--color-black);
    color: white;
    font-family: var(--font-base);
}

.comm__padding {
    /* padding: 0rem 4.5rem; */
    align-self: center;
    width: 1113px;
}

.more-pls {
    display: flex;
    align-items: flex-end;
    color: #0175d8;
    font-weight: 700;
    cursor: pointer;
    padding-bottom: 0.4rem;
}


@media screen and (min-width: 1281px) {
    .app__community {
        padding-left: 90px;
    }

    /* .comm__padding {
        padding: 0 60rem;
    } */
}

@media screen and (max-width: 1113px) {
    .comm__padding {
        width: 95%;
    }
}

@media screen and (max-width: 767px) {
    .comm__padding {
        width: 85%;
    }
}
