.comm__social {
    display: flex;
    margin: 6rem 0;
    justify-content: space-between;
}

.social__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.social__item svg {
    font-size: 50px;
}

.social__item h3 {
    font-size: 17px;
    font-weight: 700;
    margin: 1rem 0;
}

.social__item p {
    font-size: 13px;
    font-weight: 600;
    color: var(--color-lightgray);
}

@media screen and (max-width: 900px) {
    .comm__social {
        flex-direction: column;
        height: 700px;
        justify-content: space-between;
    }

    
}