.app__navbar {
    background-color: var(--color-gray);
    border-bottom: 1px solid #afafaf;
    display: flex;
    color: white;
    font-family: var(--font-base);
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 0rem 2rem;
}



.app__navbar-ham {
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2%;
    cursor: pointer;
}

.app__navbar-ham span {
    width: 100%;
    height: 3px;
    background-color: white;
    transform-origin: left;
    transition: all 0.5s ease;
}


.app__navbar-ham.active span:first-child {
    transform: rotate(45deg);
}

.app__navbar-ham.active span:nth-child(2) {
    opacity: 0;
}

.app__navbar-ham.active span:last-child {
    transform: rotate(-45deg);
}

.app__navbar-ham {
    display: none;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar-logo img {
    width: 75px;
}

.app__navbar-info {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.app__navbar-claim {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.7rem;
}

.app__navbar-claim_button {
    display: flex;
    align-items: center;
    border: none;
    background-color: #04c940;
    border-radius: 1.2rem;
    color: white;
    font-weight: 700;
    padding: 0.1rem 1.6rem;
    cursor: pointer;
}

.app__navbar-claim_button:hover {
    background-color: #018d2b;
}

.app__navbar-claim_button svg {
    margin-right: 1.2rem;
}

.app__navbar-claim_button span {
    display: block;
}

.app__navbar-lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid #6c6e71;
    height: inherit;
    color: #6c6e71;
    padding: 0 1rem;
    cursor: pointer;
}

.app__navbar-lang svg {
    font-size: 19px;
}

.lang__selector {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 13px;
    font-weight: 700;
}

.lang__selector:hover {
    color: white;
}

.app__navbar-mainnet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-left: 1px solid #6c6e71;
    height: inherit;
}

.app__navbar-mainnet_title {
    font-size: 10px;
    font-weight: 700;
    color: #6c6e71;
    margin: 0 0 0.1rem 1.5rem;
}

.app__navbar-mainnet_info {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.mainnet__info {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    margin-right: 0.7rem;
}

.mainnet__info svg {
    margin-right: 0.3rem;
    cursor: pointer;
}

.ether__info svg{
    background-color: #627eea;
    font-size: 14px;
    padding: 0.1rem;
    border-radius: 50%;
}

.coin__info {
    color: #e2b903;
}

.coin__info svg{
    background-color: #e2c803;
    font-size: 14px;
    padding: 0.1rem;
    border-radius: 50%;
}


.app__navbar-avatar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: inherit;
    border-left: 1px solid #6c6e71;
    
}

.avatar {
    padding: 0 1rem;
    
}

.shopping__cart svg {
    font-size: 20px;
    cursor: pointer;
}

.avatar img {
    width: 28px;
    cursor: pointer;
}

@media screen and (min-width: 2000px) {
    
}

@media screen and (max-width: 1280px) {

    .app__navbar {
        padding: 0 1rem;
    }

    .app__navbar-ham {
        display: flex;
    }

    .app__navbar-mainnet_title {
        display: none;
    }

    .ether__info {
        display: none;
    }

    .coin__info {
        font-size: 15px;
    }

    .coin__info svg {
        font-size: 16px;
    }

}

@media screen and (max-width: 650px) {
    
}