.app__alyx-content
{
    flex: 1 1;
    height: fit-content;
    overflow: auto;
    overflow-x: hidden;
    background: #1b2026;
}
.app__about-alyx{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #1b2026;
    max-width: 100%;
}

.page__main {
    padding: 0;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.alyx__sb-container{
    width: 100%;
}
.alyx__content{
    margin: 0 auto!important;
    max-width: 1280px!important;
    width: 100%;
}